<div class="header">
  <div class="container clearfix">
    <img src="logo.png" alt="Video Valut" class="logo">
    <nav class="page-nav">
      <a class='nav-link' href="#">Movies</a>
      <a class='nav-link' href="#">About</a>
    </nav>
  </div>
</div>

<div class="container">
  <div class="movie-grid">
    <div class="movie-grid-item ember-view">
      <img src="/movie-posters/placeholder.png">
    </div>
    <div class="movie-grid-item ember-view">
      <img src="/movie-posters/placeholder.png">
    </div>
    <div class="movie-grid-item ember-view">
      <img src="/movie-posters/placeholder.png">
    </div>
    <div class="movie-grid-item ember-view">
      <img src="/movie-posters/placeholder.png">
    </div>
    <div class="movie-grid-item ember-view">
      <img src="/movie-posters/placeholder.png">
    </div>
    <div class="movie-grid-item ember-view">
      <img src="/movie-posters/placeholder.png">
    </div>
    <div class="movie-grid-item ember-view">
      <img src="/movie-posters/placeholder.png">
    </div>
    <div class="movie-grid-item ember-view">
      <img src="/movie-posters/placeholder.png">
    </div>
    <div class="movie-grid-item ember-view">
      <img src="/movie-posters/placeholder.png">
    </div>
    <div class="movie-grid-item ember-view">
      <img src="/movie-posters/placeholder.png">
    </div>
    <div class="movie-grid-item ember-view">
      <img src="/movie-posters/placeholder.png">
    </div>
    <div class="movie-grid-item ember-view">
      <img src="/movie-posters/placeholder.png">
    </div>
    <div class="movie-grid-item ember-view">
      <img src="/movie-posters/placeholder.png">
    </div>
    <div class="movie-grid-item ember-view">
      <img src="/movie-posters/placeholder.png">
    </div>
    <div class="movie-grid-item ember-view">
      <img src="/movie-posters/placeholder.png">
    </div>
    <div class="movie-grid-item ember-view">
      <img src="/movie-posters/placeholder.png">
    </div>
    <div class="movie-grid-item ember-view">
      <img src="/movie-posters/placeholder.png">
    </div>
    <div class="movie-grid-item ember-view">
      <img src="/movie-posters/placeholder.png">
    </div>
    <div class="movie-grid-item ember-view">
      <img src="/movie-posters/placeholder.png">
    </div>
    <div class="movie-grid-item ember-view">
      <img src="/movie-posters/placeholder.png">
    </div>
  </div>
</div>

